.pagination__container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2%;
}
.pagination__container button {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}
.pagination__container button:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.pagination__container button:active {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
@media (max-width: 576px) {
  .pagination__container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
  }
}
