.sneaker__header {
  display: flex;
  width: 100%;
  margin-top: 2%;
  height: 50px;
  border-radius: 10px;
  align-items: center;
  background-color: var(--secondary-color);
  color: black;
}
.sneaker__header h2 {
  font-weight: 300;
  font-size: 2.3rem;
  margin-left: 10px;
}
.sneaer-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 85%;
}
.paginate {
  height: 2%;
}
.loader-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: var(--secondary-color);
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}
.fashion__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

@keyframes fill {
  0% {
    box-shadow: 0 0 0 2px inset;
  }
  100% {
    box-shadow: 0 0 0 10px inset;
  }
}

@media (max-width: 576px) {
  .sneaker__header {
    display: flex;
    width: 100%;
    margin-top: 7%;
    height: 30px;
    border-radius: 0px;
    align-items: center;
    background-color: var(--secondary-color);
    color: black;
    justify-content: space-between;
  }
  .sneaker__header h2 {
    font-weight: 300;
    font-size: 1.8rem;
    margin-left: 0px;
  }
  .sneaer-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 90%;
  }
}
