.navbar__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.navbar__container .navlinks {
  width: 50%;
}
.logo {
  height: 100px;
  width: 100px;
  margin-right: 30%;
  border-radius: 50%;
  background-image: url("../../assets/images/handbagDisplay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navlinks {
  display: flex;
  background-color: var(--primary-color);
  height: 8vh;
  align-items: center;
  border-radius: 10px;
  justify-content: space-around;
}
.navbar__container .nav-btn {
  opacity: 0;
}
.navlinks a {
  color: white;
  list-style: none;
  text-decoration: none;
  text-align: end;
}
.cart {
  display: flex;
  background-image: url("./../../assets/images/cartIcon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 8vh;
  width: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .navbar__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    height: 70px;
    width: 70px;
    /* margin-right: 30%; */
    border-radius: 50%;
    background-image: url("../../assets/images/handbagDisplay.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .cart {
    display: flex;
    background-image: url("./../../assets/images/cartIcon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 7vh;
    width: 16vw;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .navlinks {
    display: flex;
    background-color: var(--primary-color);
    height: 40vh;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
    border-bottom: 2px solid var(--secondary-color);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .navbar__container .navlinks {
    width: 70%;
  }
  .navbar__container .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 50%;
    width: 100%;
    gap: 1.5rem;
    transition: 1s;
    transform: translateY(-100vh);
    background-color: var(--mainColor);
  }
  header .responsive_nav {
    transform: none;
  }
  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
